[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blis = "*"
catalogue = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
cymem = "*"
de-core-news-lg = {file = "https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.5.0/de_core_news_lg-3.5.0-py3-none-any.whl"}
idna = "*"
jinja2 = "*"
markupsafe = "*"
murmurhash = "*"
numpy = "*"
packaging = "*"
pathy = "*"
preshed = "*"
pydantic = "*"
pyparsing = "*"
requests = "*"
smart-open = "*"
spacy = ">=3.5.0"
spacy-legacy = "*"
srsly = "*"
thinc = "*"
tqdm = "*"
typer = "*"
typing-extensions = "*"
urllib3 = ">=2.0.7"
wasabi = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
