[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blis = "*"
catalogue = "*"
certifi = "==2022.12.7"
charset-normalizer = "==2.0.7"
click = "==8.0.3"
colorama = "*"
cymem = "==2.0.6"
de-core-news-lg = {file = "https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.5.0/de_core_news_lg-3.5.0-py3-none-any.whl"}
idna = "==3.3"
jinja2 = "==3.0.2"
markupsafe = "==2.0.1"
murmurhash = "==1.0.6"
numpy = "*"
packaging = "==21.2"
pathy = "*"
preshed = "==3.0.6"
pydantic = "*"
pyparsing = "==2.4.7"
requests = "==2.31.0"
smart-open = "==5.2.1"
spacy = ">=3.5.0"
spacy-legacy = "*"
srsly = "*"
thinc = "*"
tqdm = "==4.62.3"
typer = "==0.4.0"
typing-extensions = "*"
urllib3 = "==1.26.7"
wasabi = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
